
input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
	height: 45px;
    margin: 0;
    padding: 0 7px;
    vertical-align: middle;
   /* background: #f8f8f8; */
    border: 1px solid #969696;
   font-family:Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 45px;
    color: #888;
    -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 1px solid #969696;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; font-size:12px }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888;font-size:12px  }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; font-size:12px }

.form-label{ color:#363636; font-weight:300; font-size: 14px;}

button.btn {
	margin:5px 0px;
	height: 45px;
    padding: 0 20px;
    vertical-align: middle;
    background: #ff0066;
    border: 0;
   font-family:Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 45px;
    color: #fff;
    -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
button.btn-blue
{ background:#00c7e4;}
button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #de995e; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #de995e; color: #fff; }

.btn-white { background-color:#fff !important; color:#363636 !important; border:1px solid #dddddd !important; border-radius:4px !important;}

.forgot-password{ color:#363636; font-size:12px; text-decoration:underline}
.accelerator{ margin:5px 0 0 0; padding-bottom:5px;}
.accelerator span:nth-child(1){padding:8px; border-radius:50%; background:#00c7e4; color:#fff; font-size:18px; width:35px; display:inline-block; text-align:center;}
.accelerator span:nth-child(2){font-size:17px; color:#363636;}
.accelerator .heading{font-size:17px; color:#363636;}


.select-wrapper{
	
	display: inline-block;
	border: 1px solid #969696;
	cursor: pointer;
	background-image:url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
	}

.select-wrapper-adduser{
	
	display: inline-block;
	cursor: pointer !important;
	background-image:url(../images/down_arrow_filled.png) !important;
	background-repeat: no-repeat;
	background-position: right center;
	width:100%;
	z-index:2;
	}
.select-wrapper, .select-wrapper select{
		width: 100%;
		height: auto;
		line-height: 38px;
		font-size:14px;
		text-align:left;
		color:#696969;
		position:relative;
		z-index:99;
		
	}
.select-wrapper-adduser, .select-wrapper-adduser select{
		width: 100%;
		height: auto;
		line-height: 38px;
		font-size:14px;
		text-align:left;
		color:#696969;
		position:relative;
		z-index:99;
		background-color:#fff;
		
	}
	
.select-wrapper .holder{
		display: block;
		margin: 0 35px 0 5px;
		white-space: nowrap;            
		overflow: hidden;
		cursor: pointer;
		position: relative;
		z-index: -1;
	}

.select-wrapper:hover{
		background: url(../images/arrow.png) no-repeat right center;
		
	}

.select-wrapper-adduser:hover{
		background: url(../images/down_arrow_filled.png) no-repeat right center;
		background-color:#fff;
		
	}
.select-wrapper-adduser .holder{
		display: block;
		margin: -39px 35px 0 9px;
		white-space: nowrap;            
		overflow: hidden;
		cursor: pointer;
		position: relative;
		z-index: 2;
		background-color:#fff;
	}

.select-wrapper select{
		margin: 0;
		position: absolute;
		z-index: 2;            
		cursor: pointer;
		outline: none;
		opacity: 0;
		/* CSS hacks for older browsers */
		_noFocusLine: expression(this.hideFocus=true); 
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-khtml-opacity: 0;
		-moz-opacity: 0;
	}

.form-control.custom-select{ width:100%;}

.form-control-adsuer {
	display:block;
	width:100%;
	height:44px;
	font-size:14px;
	line-height:1.42857143;
	border:1px solid #ccc;
	}


.input-group-addon{
	background-color:#fff;
	border-radius:0px;
	border-left:none;
	border-color:#dbdbdb;
	
	}
.nested-text{
	border-right:none !important;
	border-color:#dbdbdb !important;

}

select.select  {
    padding: 0px 6px;
    width: 100%;
	height:43px;
	opacity:0;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
 
    -webkit-appearance: none;    // removes borders and downarrow button of the select box from webkit browsers.
    -moz-appearance: none;  // cannot remove the downarrow button of the mozilla browsers.
    appearance: none;
 
    text-indent: 0.01px;
    text-overflow: '';  // with text-indent this overflow empty string removes the down arrow of the mozilla browsers.
}
 
select.select:focus  {
    outline: none;
}
